@{
  Layout = "_layout";
}

<h1>Places details</h1>

<h3>Where you visited: @Model.City, @Model.Country</h3>

<h4>When you visited: @Model.When</h4>

<h4>Who you traveled with: @Model.Who</h4>

<h4>How long you went: @Model.HowLong</h4>

<h4>What you said about your trip: @Model.Journal</h4>
